.color-picker-main {
    display: flex;
    flex-direction: column;
    max-width: 550px;
    height: 550px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 0.8rem;
    color: #58575e;
}

.color-picker-main header {
    width: 100%;
    background-color: white;
}

.color-picker-main .color-picker-form {
    display: flex;
    width: 100%;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.color-picker-main input[type="color"] {
    width: 51px;
    height: 34px;
    border: none;
    background-color: #E5E5E5;
}

.color-picker-main select {
    width: 100%;
    height: 42px;
    background-color: white;
    border: 1px solid #D1D5DB;
    border-radius: 5px;
    padding: 10px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 0.8rem;
    color: #58575e;
}

.color-picker-main button[type="submit"]{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 0.8rem;
    color: #2B283A;
    min-height: 42px;
    text-wrap: nowrap;

    background-color: white;
    border: 1px solid #D1D5DB;
    border-radius: 5px;
    padding: 10px;
    color: #58575e;
}

.color-picker-main #colors {
    width: 100%;
}

.color-picker-main .swatch {
    height: 420px;
    width: 110px;
}

.color-picker-main p {
    margin: 0;
}

.color-picker-main .color-blocks {
    display: flex;
}

.color-picker-main .color-blocks .code-block {
    text-align: center;
    height: 46px;
    background-color: white;
    color: #58575e;
    display: flex;
    justify-content: center;
    align-items: center;
}
