
.travel-journal-main {
    width: 800px;
    border: 2px solid #F55A5A;
    border-radius: 20px;
    overflow: hidden;
    background-color: white;
    color: #2B283A;
}

.travel-journal-main > header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
    background-color: #F55A5A;
    color: white;
    margin-block-end: 50px;
}

.travel-journal-main .headerIcon {
    width: 25px;
    margin-inline-end: 7px;
}

.travel-journal-main article.journalEntry {
    display: flex;
    max-width: 600px;
    margin-inline: auto;
    margin-block-end: 36px;
}

.travel-journal-main .imageContainer {
    width: 125px;
    height: 168px;
    overflow: hidden;
    border-radius: 5px;
    margin-right: 19px;
    flex-shrink: 0;
}

.travel-journal-main .imageContainer > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.travel-journal-main > .travelJournalLocation {
    display: flex;
    align-items: center;
}

.travel-journal-main .travelJournalLocation > img{
    width: 7px;
    margin-inline-end: 4px;
}

.travel-journal-main .travelJournalLocation span.country {
    text-transform: uppercase;
    font-size: 0.7rem;
    margin-right: 12px;
}

.travel-journal-main .travelJournalLocation a {
    color: #2B283A;
    font-size: 0.7rem;
}

.travel-journal-main .travelJournalLocation a:visited {
    color: #918E9B;
}

.travel-journal-main .travelJournalInfo h1 {
    margin-top: 7px;
    margin-bottom: 17px;
}

.travel-journal-main .travelJournalInfo h2 {
    font-weight: bold;
    color: #2B283A;
}

.travel-journal-main .travelJournalInfo p {
    line-height: 1.5;
    font-size: 0.8rem;
    overflow: hidden;
}

